[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xgboost = "<1.6.0"
pandas = "<1.4.0"
sklearn = "*"
numpy = "*"
waitress = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
